@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'GAJ';
        src: url('/fonts/GajrajOne-Regular.ttf');
    }
}


html {
    background-color:#d1e6f3;
  }